html,
body {
  /* fallback for old browsers */
  background: rgba(37, 117, 252, 1);

  background: -webkit-linear-gradient(
    to right,
    rgb(8, 250, 93),
    rgba(37, 117, 252, 1)
  );

  background: linear-gradient(
    to right,
    rgba(8, 250, 93),
    rgba(37, 117, 252, 1)
  );
}
