/*! Footer Start !*/

.container-2 {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.footer-ul {
  list-style: none;
}

.footer {
  margin-top: 250px;
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  padding-left: 32px;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 32;
  bottom: -470px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 55px;
}

.footer-col h4:hover {
  transform: scale(1.2);
}

/*! h4 for Home Page Start !*/

.footer-col .h4 {
  margin-left: -12px;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
}

.footer-col .h4::before {
  content: "";
  left: 32;
  bottom: -1390px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 55px;
}

.footer-col .h4:hover {
  transform: scale(1.2);
}

/*! h4 for Home Page End !*/

/*! h4 for Contact Us Start !*/

.footer-col .contact-h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  padding-left: 32px;
}

.footer-col .contact-h4::before {
  content: "";
  position: absolute;
  left: 32;
  bottom: -485px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 55px;
}

.footer-col .contact-h4:hover {
  transform: scale(1.2);
}

/*! h4 for Contact Us End !*/

.footer-col .footer-ul .footer-list:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col .footer-ul .footer-list a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  padding-left: -100px;
}

.footer-col .footer-ul .footer-list a:hover {
  color: #ffffff;
  padding-left: 15px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1300px) {
  .footer-col h4::before {
    content: none;
  }

  .footer-col .h4::before {
    content: none;
  }

  .footer-col .contact-h4::before {
    content: none;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*! Footer End !*/
