@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/*! Base Css Start  */

* {
  margin: 0;
}

body {
  height: 200vh;
  font-family: "Electrolize", sans-serif;
}

/*! Base Css End  */

/*! Navbar Css Start  */

.navbar {
  background-color: #000000;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 55px;
}

.logo {
  font-size: 30px;
  color: rgb(255, 70, 70);
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

.menu-list-item:hover {
  cursor: pointer;
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}


.profile-picture {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container:hover {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
  font-weight: bold;

}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}

.toggle-icon {
  color: goldenrod;
  margin-top: 2px;
}

/*! Navbar Css End  */

/*! Sidebar Css Start  */

.sidebar {
  background-color: #000000;
  color: white;
  height: 100%;
  width: 55px;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  row-gap: 40px;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 0;
  transition: color 0.2s;
}

.sidebar i:hover {
  color: white;
  font-size: 20px;
  transform: translateY(-5px);
  transform: scale(1.2);
}

#mySidenav a {
  position: absolute;
  margin-top: -10px;
  left: -213px;
  transition: 0.5s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}


#projects {
  top: 80px;
  background-color: black;
  height: auto;
}

/*! Sidebar Css End  */

/*! Dark Mod Css Start  */



/*! Dark Mod Css End  */

