@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");


.social-media p {
  margin-top: 30px;
  text-decoration: none;
  font-weight: bold;
}

.social-media ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-media ul li {
  position: relative;
  list-style: none;
  margin: 50px 30px;
  cursor: pointer;
  text-align: center;
  flex: 1 0;
}
.social-media ul li a {
  text-decoration: none;
}
.social-media ul li a .bi {
  font-size: 2em;
  color: #797676;
}
.social-media ul li::before {
  font-family: "Bootstrap-icons";
  position: absolute;
  top: 0;
  left: 50%;
  margin-right: 5px;
  transform: translateX(-49%);
  font-size: 2em;
  height: 0;
  overflow: hidden;
  transition: 2s ease-in-out;
}
.social-media ul li:nth-child(1)::before {
  content: "\F8DB";
  color: #1da1f2;
  border-bottom: 3px solid #1da1f2;
}
.social-media ul li:nth-child(2)::before {
  content: "\F437";
  margin-left: 2px;
  color: rgb(250,126,30);
  border-bottom: 4px solid rgb(250,126,30);
}

.social-media ul li:nth-child(3)::before {
  content: "\F62B";
  color: #ff0000;
  border-bottom: 4px solid #ff0000;
}
.social-media ul li:nth-child(4)::before {
  content: "\F618";
  margin-left: 4px;
  color: #25d366;
  border-bottom: 4px solid #25d366;
}
.social-media ul li:nth-child(5)::before {
  content: "\F84B";
  color: #cd6cf0;
  border-bottom: 4px solid #cd6cf0;
}

.social-media  ul li:hover::before {
  height: 50%;
}

@media screen and (max-width: 768px) {
  .social-media ul li {
    flex-basis: 100%; 
    margin: 18px 0; 
  }
}
